@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
  var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if (SignInManager.IsSignedIn(User))
{
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a asp-controller="Profile" asp-action="Home" class="btn btn-link navbar-btn navbar-link">@claim</a>
    </li>
    <li>
  <form asp-action="LogOut" asp-controller="Account" method="POST">
      <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
  </form>
    </li>
  </ul>
}
else
{
  <ul class="nav navbar-nav navbar-right">
  <li>
    <a asp-area="" asp-action="Register" asp-controller="Account" >Register</a>
  </li>
  <li>
    <a asp-area="" asp-action="Login" asp-controller="Account">Log in</a>
  </li>
  </ul>
}