@model BookCave.Models.ViewModels.RegisterViewModel

<div class="container" id="register-container-size">
  <div class="row">
    <div class="col col-lg-8" id="register-container">
      <h1 id="login-text">Register</h1>
      <form asp-action="Register" asp-controller="Account" class="form-horizontal" id="register-form" method="POST">
        <div class="form-group">
          <input type="email" asp-for="Email" class="form-control" placeholder="example@example.com">
        </div>
        <div class="form-group">
          <input type="text" asp-for="FirstName" class="form-control" placeholder="John">
        </div>
        <div class="form-group">
          <input type="text" asp-for="LastName" class="form-control" placeholder="Snow">
        </div>
        <div class="form-group">
          <input type="password" asp-for="Password" class="form-control" placeholder="Password123">
          <small id="email-small-text" class="form-text text-muted">Never give out your password to anyone.</small><br>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" value="Register Me">
          <p class="register-me-link">Already have an account? <a asp-controller="Account" asp-action="Login" id="register-me-link">Log in</a></p>
        </div>
      </form>      
      </div>
  </div>

</div>