@model BookCave.Models.InputModels.UserPersonalInputModel

<div class="form-group">
  <form asp-action="EditPersonal" asp-controller="Profile" method="POST">
    <div class="input-group">
      <label>
        First Name: <input type="text" asp-for="FirstName" placeholder="@Model.FirstName">
      </label>
    </div>
    <div class="input-group">
      <label>
        Last Name: <input type="text" asp-for="LastName" placeholder="@Model.LastName">
      </label>
    </div>
    <div class="input-group">
      <label>
        <input type="radio" asp-for="Gender" value="Male"> Male
      </label>
      <label>
        <input type="radio" asp-for="Gender" value="Female"> Female
      </label>
      <label>
        <input type="radio" asp-for="Gender" value="Other"> Other
      </label>
    </div>
    <div class="input-group">
      <input type="submit" value="Change Info">
    </div>
  </form>
</div>