@model BookCave.Models.InputModels.UserPersonalInputModel

<div class="container profile-wrap">
  <div class="row">
    <div class="col col-lg-2"></div>
      <div class="col-lg-8 profile-border">
        <div class="col-lg-1">

        </div>
        <div class="col col-lg-4">
          <div class="col col-lg-12 profile-image-wrap" >
            <img class="profile-image" src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg" alt="picture">
          </div>
          <div class="col col-lg-12 personal-info-button-wrap">
            <a asp-action="EditPersonal" asp-controller="Profile" class="btn btn-info">Edit Personal Info</a>       
          </div>
          <div class="col col-lg-12">
            <a asp-action="EditShipping" asp-controller="Profile" class="btn btn-info">Edit Shipping Info</a>        
          </div>
        </div>
        <div class="col col-lg-7">
          <div class="col col-lg-12 form-group profile-personal-form">
            <form asp-action="EditPersonal" asp-controller="Profile" method="POST">
              <label>First Name</label><br>
              <input type="text" asp-for="FirstName" placeholder="@Model.FirstName" class="form-control">
              <label id="last-name-label">Last Name</label><br>
              <input type="text" asp-for="LastName" placeholder="@Model.LastName" class="form-control">
              <div class="input-group gender-div">
                <span>Gender</span><br>
                <label>
                  <input type="radio" asp-for="Gender" value="Male"> Male
                </label>
                <label>
                  <input type="radio" asp-for="Gender" value="Female"> Female
                </label>
                <div id="birthday-input">
                  <span>Birthday</span><br>
                  <input type="date" id="bday" name="Birthday">
                </div>
                <div id="submit-profile-div">
                  <a type="submit" class="btn btn-primary">Accept changes</a>
                  <a asp-controller="Profile" asp-action="Home" class="btn btn-danger">Cancel</a>
                </div>
            </form>
          </div>
        </div>
        <div class="col col-lg-3">

        </div>
      </div>
    <div class="col col-lg-2"></div>
  </div>
</div>

