@{
    ViewData["Title"] = "Contact";
}
<div class="container" id="contact-details">
  <div class="row">
    <div class="col col-lg-2">
        <div>
            <i class="glyphicon glyphicon-book"></i>
            <!--<img src="#" alt="Logo"> replace glyphicon -->
            <p>The Book Cave</p><br>
            <p>Addressplaceholder</p>
            <p>Phone Number</p>
            <p>Email@adress.is</p>
            <p>Url</p>
        </div>
    </div>
        <div>
            
        </div>
  </div>
</div>

