@model BookCave.Models.ViewModels.CartViewModel

<div class="container cart-title-container">
    <div class="row">
        <div class="col col-lg-12" style="border:solid;">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>