@model List<BookCave.Models.ViewModels.OrderViewModel>

<div class="container" style="border:solid; border-color:green;">
    <div class="row" style="border:solid; border-color:red;">
        @foreach (var o in Model)
            {
                <div class="col-sm-2" style="border:solid; border-color:blue;">
            
                    <div class="row" style="border:solid; border-color:lime;">
                        <p><strong>Order Id: </strong>@o.Id</p>
                        <p><strong>Belongs to: </strong>@o.FirstName</p>
                        @foreach (var b in o.OrderDetails)
                        {
                            <p><strong>Book Id: </strong>@b.BookId</p>
                        }
                    </div>
                </div>
            }
    </div>
</div>