@model BookCave.Models.InputModels.BookInputModel
@{
  var authorList = ViewData["aList"] as IEnumerable<BookCave.Models.ViewModels.AuthorsViewModel>;
  var genres = ViewData["Genres"] as IEnumerable<string>;
}
<!-- Create a book -->
<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <h2>@ViewData["Title"]</h2>
      <!-- FORM -->
      <form action="" method="POST">
        <!-- TITLE -->
          <div class="">
            <label asp-for="Title">Book title</label> <br>
            <input type="text" asp-for="Title" class="form-control" 
                  placeholder="Input the book title">
            <span asp-validation-for="Title"></span>
          </div>
          <!-- AUTHOR -->
          <div class="">
            <label asp-for="AuthorId">Author</label> <br>
              <select asp-for="AuthorId" id="" class="form-control">
                <option selected hidden value="1">Select an author</option>
                @foreach(var a in authorList)
                  {
                    <option value="@a.Id">@a.Name</option>
                  }
              </select>
              <a  asp-controller="Book" asp-action="CreateAuthor" class="btn btn-info" id="create-author-btn">Create new author</a>

            <span asp-validation-for="AuthorId"></span>
          </div>          
          <!-- GENRE -->
          <div class="">
            <label asp-for="Genre">Genre</label> <br>
            <div class="btn-group openclass">
              <button type="button" class="btn btn-info dropdown-toggle " aria-haspopup="true" aria-expanded="false">
                Genre    <span class="caret"></span>
              </button>
              <ul class="dropdown-menu genre-menu">
                @foreach(var genre in genres)
                {
                  <li><a class="btn btn-default" ><span hidden>, </span>@genre</a></li>
                }
              </ul>
            </div>
            <span id="selected-genre-view"></span>
            <input type="text" asp-for="Genre" id="genre-list" hidden>
            <span asp-validation-for="Genre"></span>           
          </div>
          <div id="add-genre-btn-wrap">
            <a id="Create-Genre-Button" asp-controller="Book" asp-action="CreateGenre" class="btn btn-info">Create new genre</a>
          </div>
          <div class="">
            <label asp-for="Publisher">Publisher</label> <br>
            <input type="text" asp-for="Publisher" class="form-control"
                  placeholder="Input the book Publisher">
          </div>
          <!-- LANGUAGE -->
          <div class="">
            <label asp-for="Language">Language</label> <br>
            <input type="text" asp-for="Language" class="form-control"
                  placeholder="Input the book language">
          </div>
          <!-- RELEASE YEAR -->
          <div class="">
            <label asp-for="ReleaseYear">Release Year</label> <br>
            <input type="text" asp-for="ReleaseYear" class="form-control"
                  placeholder="Input the book release year">
          </div>
          <!-- PAGE COUNT -->
          <div class="">
            <label asp-for="PageCount">Page Count</label> <br>
            <input type="text" asp-for="PageCount" class="form-control"
                  placeholder="Input the book page count">
          </div>
          <!-- ISBN -->
          <div class="">
            <label asp-for="ISBN">ISBN</label> <br>
            <input type="text" asp-for="ISBN" class="form-control"
                  placeholder="Input the book ISBN number">
            <span asp-validation-for="ISBN"></span>
          </div>
          <!-- IMAGE -->
          <div class="">
            <label asp-for="Image">Image</label> <br>
            <input type="text" asp-for="Image" class="form-control"
                  placeholder="Input the bookcover URL">
          </div>
          <!-- PRICE -->
          <div class="">
            <label asp-for="Price">Price</label> <br>
            <input type="text" asp-for="Price" class="form-control"
                  placeholder="Input the book price">
            <span asp-validation-for="Price"></span>
          </div>
          <!-- INFO -->
          <div class="">
            <label asp-for="Info">Info</label> <br>
            <textarea class="form-control" asp-for="Info" cols="40" rows="5" placeholder="Write a short description of the book"></textarea>
          </div>
          <br>
        <!-- SUBMIT -->
        <input type="submit" class="btn btn-primary " value="Submit Book">
      </form>
    </div>
    <div class="col col-lg-3">
    </div>
    <div class="col col-lg-5">
    </div>
  </div>
</div>