@model BookCave.Models.InputModels.AuthorInputModel
@{
  ViewData["Title"] = "Create new author";
}
<!-- CREATE AN AUTHOR -->
<div>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="container">
  <div class="row">
    <!-- FORM -->
    <form action="" method="POST">
      <!-- NAME -->
      <div class="col col-lg-3">
        <input type="text" asp-for="Name" class="form-control"
              placeholder="Enter the authors name">
        <input type="submit" class="btn btn-primary" value="Create author">
        <a asp-controller="Book" asp-action="Create" class="btn btn-warning">Cancel</a>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-lg-2"> 
    </div>
  </div>
</div>